/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/*******************************************************************
                            GENERAL
********************************************************************/
html,body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
section{
    background: #FFF;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
a,a:focus,a:hover{
    text-decoration: none;
}

/*******************************************************************
                            GENERAL BUTTONS
********************************************************************/
.btn-general{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}

.btn-green{
    color: #FFF;
    background-color: #5c9320;
}
.btn-white{
    color: #212226;
    background-color: #FFF;
}

.btn-green:hover,.btn-green:focus,.btn-white:hover, .btn-white:focus{
    color: #FFF;
    background-color: #212226;
}

.btn-gradient{
    color: #FFF;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #5c9320 0%, #63c600 51%, #5c9320 100%);
}

.btn-gradient:hover,.btn-gradient:focus{
    color: #FFF;
    background-position: right;
}



/*******************************************************************
                            HOME SECTION
********************************************************************/
#home{
    height: 100vh;
    background: none;
}
#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
/*    alternative fallback*/
    background: url("../video/video.jpg") no-repeat cover;
}

#home-overlay{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content{
    width: 100%;
    height: 100%;
    display: table;
}
#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
#home-heading span{
    font-weight: 500;
    color: #5c9320;
}
#home-heading{
    color: #FFF;
    font-size: 5rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}
#home-text{
    color: #FFF;
    font-size: 17px;
    font-weight: 100;
    margin: 10px 0 30px;
}

#arrow-down{
    
    position: absolute;
    left: 50%;
    font-size: 32px;
    bottom: 20px;
    z-index: 1;
    color: #FFF;
    margin-left: -16px;
}
#arrow-down:hover, #arrow-down:focus{
    color:  #5c9320;
}



























/*******************************************************************
                            LOADER
********************************************************************/
.loader{
    /*Make full screen*/
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 2%, #63C600 82%);
    z-index: 9999;
}

.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
/*  do this when u know width and height
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
*/
    transform: translate(-50%,-50%);
    
}

.loader span{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #FFF;
    display: block;
    position: absolute;
    opacity: 0;
    animation: load 5s ease-in-out infinite;
}

.loader-blocks{
    width: 60px;
    height: 60px;
}

.loader span.block-1{
    animation-delay: 1.06s;
    left:0;
    top: 0;
}
.loader span.block-2{
    animation-delay: .97s;
    left:16px;
    top: 0;
}
.loader span.block-3{
    animation-delay: .88s;
    left:32px;
    top: 0;
}
.loader span.block-4{
    animation-delay: .79s;
    left:48px;
    top: 0;
}
.loader span.block-5{
    animation-delay: .70s;
    left:0;
    top: 16px;
}
.loader span.block-6{
    animation-delay: .61s;
    left:16px;
    top: 16px;
}
.loader span.block-7{
    animation-delay: .52s;
    left:32px;
    top: 16px;
}
.loader span.block-8{
    animation-delay: .43s;
    left:48px;
    top: 16px;
}
.loader span.block-9{
    animation-delay: .34s;
    left:0px;
    top: 32px;
}
.loader span.block-10{
    animation-delay: .25s;
    left:16px;
    top: 32px;
}
.loader span.block-11{
    animation-delay: .16s;
    left:32px;
    top: 32px;
}
.loader span.block-12{
    animation-delay: .07s;
    left:48px;
    top: 32px;
}
.loader span.block-13{
    animation-delay: -0.02s;
    left:0px;
    top: 48px;
}
.loader span.block-14{
    animation-delay: -0.11s;
    left:16px;
    top: 48px;
}
.loader span.block-15{
    animation-delay: -0.20s;
    left:32px;
    top: 48px;
}
.loader span.block-16{
    animation-delay: -0.29s;
    left:48px;
    top: 48px;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-95px);
    }
    15%{
        opacity: 0;
        transform: translateY(-95px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(95px);
    }
    100%{
        opacity: 0;
        transform: translateY(95px);
    }
}








